<%= form tag "client/orders", method: :post do %>
<div>
  Product ID: <input type="text" name="product_id">
</div>
<div>
  Quantity: <input type="text" name="quantity">
</div>
<input type="submit" value="Create Order">

<% end %>