<h2><%= @products["name"] %></h2>
<h3>descri <% @product["description"] %></h3>
<h4>attack_bonus: <% @product["attack_bonus"] %></h4>
<h4>str_bonus: <%= @product["str_bonus"] %></h4>
<a href='/client/rproduct'>Home</a>