<h2>Carted Product ID: <%= @carted_product['id'] %></h2>
<h2>Product ID: <%= @carted_product['product']['id'] %></h2>
<h2>Product Name: <%= @carted_product['product']['name'] %></h2>
<h2>Quantity: <%= @carted_product['product']['quantity'] %></h2>